img {
  display: block;
  margin: auto;
}

h2 {
  text-align: center;
  color: blue;
  font-family: 'Indie Flower', cursive;
  font-size: 90px;
}

h4, button {
  text-align: center;
  font-family: 'Skia', sans-serif;
  font-size: 20px;
}

.container {
  background-color: snow;
  border: 6px solid blue;
  border-radius: 12px;
  box-shadow: 5px 5px 10px #888888;
}

#input {
  font-family: 'Skia', sans-serif;
  margin: 0 auto;
  text-align: center;
  width: 25%;
}

#output {
  font-family: 'Indie Flower', cursive;
  color: orange;
  font-size: 130px;
  text-align: center;
}
