h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 90px;
}

h4, button {
  font-family: 'Skia', sans-serif;
  font-size: 20px;
}

.jumbotron {
  text-align: center;
  background-color: blue;
  color: snow;
}

#input {
  width: 25%;
}

#output {
  font-family: 'Indie Flower', cursive;
  color: orange;
  font-size: 130px;
  margin-left: 20px;
}
